// fonts
@import "./fonts/fonts";

// variables
@import "./variables";

// pages
@import "./pages/authentication";
@import "./pages/home";
@import "./pages/addProduct";

// components
@import "./components/logo";
@import "./components/navbar";
@import "./components/card";
@import "./components/loader";
@import "./components/message";

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    // font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}