.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
    svg {
        font-size: 40px;
        color: $primary;
    }
    h4{
        font-family: 'Akaya Telivigala', cursive;
        margin: 0%;
        font-size: 28px;
        span {
            color: $primary;
            font-weight: 600;
        }
    }
}