.logo{
    display: flex;
    align-items: center;
    svg {
        font-size: 40px;
        color: $primary;
    }
    h4{
        margin: 0%;
        span {
            color: $primary;
            font-weight: 600;
        }
    }
}